<div class="container page">
    <div class="row lets_play margin-above-top-xs">
        <div class="col-md-offset-1 col-md-10">

          <h1>Let's Play Rock Paper Scissors!</h1>

        </div>
    </div>

    <div class="row choose">

      <div class="col-md-offset-1 col-md-10">

        <hr>

        <div class="btn-group btn-group-justified">

          <a class="btn off" href="http://localhost:3000/rock">Rock</a>

          <a class="btn on" href="http://localhost:3000/paper">Paper</a>

          <a class="btn off" href="http://localhost:3000/scissors">Scissors</a>

        </div>

        <hr>

      </div>

    </div>

    <div class="row">
        <div class="col-md-offset-1 col-md-4 output">

          <h3>You</h3>

          <i class="fa fa-hand-paper-o img" aria-hidden="true"></i>

          <br>

          <svg width="200" height="60" viewPort="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
            <ellipse cx="110" cy="30" rx="60" ry="10"/>
          </svg>

        </div>

        <div class="col-md-2 result">
          <div class="row padding-inside-top-md">
            <div class="col-md-12 scorebox1">

              <% if @computer_move == "paper" %>
              <h3>You tied!</h3>
              <% elsif @computer_move == "rock" %>
              <h3>You won!</h3>
              <% else %>
              <h3>You lost!</h3>
              <% end %>

            </div>
          </div>


          <div class="row padding-inside-top-xs padding-inside-bottom-xs scorebox2">
            <div class="col-md-6">
              <h3 class="score">0</h3>
            </div>

            <div class="col-md-6">
              <h3 class="score">0</h3>
            </div>
          </div>
        </div>

        <div class="col-md-4 output">

          <h3>Computer</h3>

          <i class="<%= @img %> img" aria-hidden="true"></i>

          <br>

          <svg width="200" height="60" viewPort="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
            <ellipse cx="<%= @cx %>" cy="30" rx="60" ry="10"/>
          </svg>

        </div>
    </div>

</div>
